<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Image</title>
        <!-- Custom styles for this template -->
    </head>

        <body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/image">Image</a></li>
        </ul>
    </nav>

    <div>
    <h3>Luis Barquero Villalobos</h3><br>
    <img src="https://i.postimg.cc/mgkMJ3W5/hqdefault.jpg" alt="LuisBarquero" width="500" height="333">

    </div>
    </body>



</html>